<p class="header-quote-author">Consumer Financial Protection Bureau</p>
<h1 class="header-project">Not your typical government report</h1>
<section class="project-description">
  <h2>The Problem</h2>
  <p>The CFPB wanted to provide an interactive and data-rich expereience to showcase their strategic plan. The CFPB wanted their plan to be more accessible to the public. By serving it online as a live HTML document, they would lead government reporting <i>*sound the trumpets*</i> into the digital age.</p>

  <h2>The Users</h2>
  <p>All members of congress, and the American public who want to know more about the CFPB's plans.</p>

  <h2>The Process</h2>
  <p>One of the biggest reports a federal agency has to produce is their strategic plan, as required by the Government Performance Rule and Act (GPRA). The CFPB prides itself in being forward thinking and understanding the value of a well-designed experience. They wanted to rethink the current format of their reports to the public. Currently, most of these reports are text-heavy documents that are difficult to digest.</p>

  <p>The answer seemed simple: design an interactive report meant for the web. But this was uncharted land for a government agency, and the CFPB hoped to lead the way forward by providing real-time data and interactive visualization of <i>this</i> report, and all reports moving forward.</p>

  <h2>Discovery and Design</h2>
  <p>I dove into my research: how could I best bring this report into the 21st century, and make the information digestible and visually appealing? By moving the report online it provided the possibility of a richer experience. It helped make the report more concise because we could link to external content instead of directly including it in the report body.</p>

  <h3>Orders from the Director</h3>
  <p>The one kink in the plan came when the Director required that the document be print friendly. Initially we thought this could be taken care of by a separate print style sheet, but it turned out to be a little more complicated, and messier, than that. We found a service called PDF Reactor that could easily generate a PDF straight from HTML.</p>

  <h3>Print Design Online</h3>
  <p>Designing a report, traditionally in print, for consumption on the web, is an exercise in the importance of flexible content. It is important to know your audience and make sure that your content is formatted for how they wish to consume it.</p>

  <hr />

  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-accordian.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-budget.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-head.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-measure.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-population.png" />

  <hr />
  <em>It was finally approved and uploaded to the site, it received glowing praise for it’s design and how fun it was to read. Mission accomplished!</em>
  <hr />
  <p class="project-end">Fin. <a href="/portfolio">View more of my work.</a></p>
</section>