<p class="header-quote-author">Consumer Financial Protection Bureau</p>
<h1 class="header-project">Helping Students make smarter financial decisions about college.</h1>
<section class="project-description">
  <h2>The Problem</h2>
  <p>Student debt is on the rise, last year the CFPB calculated that over one trillion dollars was owed in student debt. Education is a part of the American dream, but it is a great investment. For most students who have to take out a loan, this is the first big investment decision they have to make. Knowing how much it is going to cost and what sources of funding is out there can be overwhelming.</p>

  <h2>The Users</h2>
  <p>Approximately 21 million students enrolling for college every year.</p>

  <h2>The Process</h2>
  <p>The CFPB wants to create consumer experience platforms catered to the financial milestones in most American’s lives. The first platform is “Paying for College” focused around a students journey through applying at colleges, selecting a loan, managing their money at school, and how to pay back their debt after school. This life cycle is captured in the platform as individual steps. </p>

  <h3>Research Schools</h3>
  <p>The CFPB partnered with the Department of Education to collaborate on this platform and use some of the tools they have already built. The Department of Education created <a href="http://nces.ed.gov/collegenavigator/">the tool</a> to help students find information about the colleges they want to attend. </p>

  <h3>Fill Out FAFSA</h3>
  <p>The CFPB also linked to the online resource the Department of Education built for electronically submitting a Free Application for Federal Student Aid (FAFSA).</p>

  <h3>Choose a Loan</h3>
  <p>For many students this will be their first experience with shopping around for loans. The CFPB wanted to create a list of action items and definitions to common loan terms that will help guide students through the shopping process. </p>

  <h3>Compare Costs and Financial Aid</h3>
  <p>Once a student receives their offer letters from the colleges they applied they have to choose which school to attend. The CFPB wanted to help students compare the costs of attending their top colleges so they built the Cost Comparison Calculator.  </p>

  <h3>Manage your Money</h3>
  <p>When a student is at college they face a lot of financial responsibility. The CFPB created a few action steps and an action guide to help support students financial decisions when they are in college. </p>

  <h3>Repay Student Debt</h3>
  <p>After graduation students are faced with repaying their debt. Many students have questions about their repayment options. So the CFPB created a step-by-step wizard that will guide students to the answers they are looking for. </p>

  <h3>What I worked on</h3>
  <p>I started on this project while it was in Beta. The key tool in this platform for the CFPB was the Cost Comparison Tool. Before the Paying for college platform was ready to be released from beta there were a few tweaks to functionality and design that needed to be made.</p>
  <ol class="numbered-bullet-list">
    <li><span class="numbered-bullet">1</span>Usability tests discovered that the comparison tool needed a redesigned layout that made it easier for students to compare college costs.</li>
    <li><span class="numbered-bullet">2</span>We received requests from the office of Veteran Affairs to include a GI Bill calculator for all military and their dependents to calculate the benefits they are eligible to receive while going to school.</li>
    <li><span class="numbered-bullet">3</span>The department of Education wanted to include the school indicators in the comparison tool so that students could compare schools more accurately that just based upon the financial burden.</li>
    <li><span class="numbered-bullet">4</span>The CFPB believe in encouraging consumers to shop around for loans to see what rates you can get. To encourage students to shop around we included an interest rate picker to indicate that a student could get higher or lower rates.</li>
    <li><span class="numbered-bullet">5</span>The Department of Education and the CFPB made a joint effort to standardize the offer letters sent to students from colleges, in both print and digital format. It detects if student's school is participating in the program, prepopulating the data into the comparison tool to simplify make the entry process.</li>
  </ol>
  
  <hr />
  <img class="project-screenshot" src="/assets/projects/cfpb-paying-for-college-home.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-paying-for-college-tool.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-paying-for-college-loan.png" />
  <hr />
  <em><a href="http://nces.ed.gov/collegenavigator/">The tool</a> was released on April 10, 2013 just in time for prospective college students to receive their offer letters.</em>
  <hr />
  <p class="project-end">Fin. <a href="/portfolio">View more of my work.</a></p>
</section>