<p class="header-quote-author">Consumer Financial Protection Bureau</p>
<h1 class="header-project">Not your typical government report</h1>
<section class="project-description">
  <h2>The Problem</h2>
  <p>The CFPB wanted to provide an interactive and data rich expereience for their strategic plan. They also wanted it to be more accessible to the public. So, by serving it online as a live HTLM document, they would be able to lead the government into the digital age.</p>

  <h2>The Users</h2>
  <p>All members of congress, and the American public who want to know more about the plans at the CFPB.</p>

  <h2>The Process</h2>
  <p>One of the biggest reports a federal agency has to produce is their strategic plan, as required by the Government Performance Rule and Act (GPRA). The CFPB prides itself in being forward thinking and understanding the value of a well-designed experience. They wanted to rethink the current format of their reports to congress and to the public. Currently most of these reports are text heavy documents that are hard to digest and not very friendly.</p>

  <p>The answer seemed simple, design the report to be put online and make it interactive. Lead the way forward by providing real-time data and interactive visualization of this report, and all reports moving forward.</p>

  <h2>Discovery and Design</h2>
  <p>I dove into researching how to bring this report into the 21st century, and make the information more digestible and visually appealing. I drew my inspiration from sites like: X, Y, and Z. I was faced with questions like: Do I make it paginated or infinite scroll? How should I handle internal/external linking? By moving the report online it provided a more rich experience. It also helped make the report a little more concise because you could like to external content instead of repeating it and making the report lengthier.</p>

  <h3>Orders from the Director</h3>
  <p>The one kink in the plan came when the Director required that the document be print friendly. Initially we thought this could be taken care of by a separate print style sheet, but it turned out to be a little more complicated and messier than that. Luckily we found a service called PDF reactor that could generate a PDF straight from the HTML.</p>

  <h3>Print design online</h3>
  <p>I went a little color happy with the first version but eventually we honed it down to the major color palette and some secondary colors for small pieces of visual pop to break up the text.</p>

  <p>The final phase was new to me, but very familiar to government, it had to go through clearance. Clearance can take a couple of days or weeks if the document needs to go through pre-clearance. During this process the clearance committee will make edits and suggestions to the text and visual elements, this was a very long process…</p>
  <hr />

  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-accordian.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-budget.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-head.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-measure.png" />
  <img class="project-screenshot" src="/assets/projects/cfpb-strategic-plan-population.png" />

  <hr />
  <em>It was finally approved and uploaded to the site, it received glowing praise for it’s design and how fun it was to read. Mission accomplished!</em>
  <hr />
  <p class="project-end">Fin. <a href="/portfolio">View more of my work.</a></p>
</section>