<p class="header-quote-author">Consumer Financial Protection Bureau</p>
<h1 class="header-project">Complaints tool: let your complaints be heard</h1>
<section class="project-description">
  <h2>The Problem</h2>
  <p>The CFPB provides a complaint portal for consumers, but the experience lacked clear guidance to help consumers understand how the CFPB can help them.</p>

  <h2>The Users</h2>
  <p>Yearly, 200,000 Americans send complaints to the CFPB about financial products they've had problems with.</p>

  <h3>The Primary Focus</h3>
  <p>The CFPB receives complaints topics ranging from credit cards to mortgages. The CFPB was receiving calls from upset users that didn’t understand how the complaint process worked or expected more than the CFPB could offer. The CFPB decided to illustrate and display their complaint process before the user submitted a complaint. Our goal was to provide clarity; and  reducing the amount of calls from angry and confused consumers was our key performance indicator.</p>
  <p>The project was an important step towards providing transparency about the complaint process at the CFPB for the public, and to set expectations as to what the CFPB can do to help.</p>

  <h3>The Process</h3>
  <p>After performing background studies, it became clear that we weren't providing enough feedback at each step of the process. We noticed a trend: users would submit a complaint and then never sign-in to their account or follow the progress of their complaint. I performed usability testing to shed some light on why they users acted this way, and how we could clarify their responsibilities (and ours) in the complaint process.</p>
  
  <hr />

  <em>After implementation Consumer Response noted a small (but statistically significant) decrease in the amount of calls they received from confused consumers.</em>
  <hr />
  <p class="project-end">Fin. <a href="/portfolio">View more of my work.</a></p>
</section>