<p class="header-quote-author">Consumer Financial Protection Bureau</p>
<h1 class="header-project">Complaints tool: let your complaints be heard</h1>
<section class="project-description">
  <h2>The Problem</h2>
  <p>The CFPB provides a complaint portal for consumers but the experience is lacking informaiton to guide the user and help them understand how the CFPB can help them.</p>

  <h2>The Users</h2>
  <p>200,000 Americans yearly send complaints to the CFPB about financial products that they have problems with.</p>

  <h2>The Process</h2>
  <p>The CFPB received 200,000 complaints last year on topics ranging from credit cards to mortgages. They have a main page that leads the user through the complaint process. The main problem was that they were receiving calls from upset users that didn’t understand how the complaint process worked.</p>

  <p>In order to alleviate some of the confusion they wanted to provide a visual explanation of the complaint process that the CFPB will help the users through.</p>

  <h3>The primary focus</h3>
  <p>TThe project was important to provide clarity to the complaint process at the CFPB for the public, and to help set expectations of the user as to what the CFPB can do to help them.</p>

  <h3>A hidden problem</h3>
  <p>Aside from this request I was asked to help clarify the actions a user can do on the complaint homepage. Users would submit a complaint and then never sign into their account to follow the progress of their complaint. I was able to perform a day of usability testing to validate some of their assumptions (which I felt much better about after the results came back validating what we wanted)</p>
  
  <hr />
  <em>This was a quick engagement with Consumer Response, and we were able to discuss how many of their options moving forward. We provided concrete results from the user testing for their use in future discussions.</em>
  <hr />
  <p class="project-end">Fin. <a href="/portfolio">View more of my work.</a></p>
</section>