<p class="header-quote-author">Consumer Financial Protection Bureau</p>
<h1 class="header-project">New interal tools for a new type of government</h1>
<section class="project-description">
  <h2>The Problem</h2>
  <p>Employees were confused that the intranet was a cohesive tool because it was broken into three tools; the wiki, the staff directory, and the news. We needed to rebrand and create a seamless experience that was the intranet. A single place where all CFPB employees knew to go to find information they needed to do their jobs.</p>

  <h2>The Users</h2>
  <p>All employees and contractors working within the CFPB, approximately 500 daily active users.</p>

  <h2>The Process</h2>
  <p>The Intranet redesign was the first project that I was handed when I arrived at the CFPB. I was excited and overwhelmed at the same time. Excited to be working on a tool that would affect the lives of all the employees at the CFPB, but overwhelmed because I knew it was huge undertaking. Luckily I had just wrapped up a very similar project with Foster.ly, and I was confident I could apply some of the knowledge I gained from that experience.</p>
  <p>Unable to access the intranet my first two weeks because of the security process (oh government), I got together with the product owner and interviewed her to get insight into the current state of the intranet. She gave me a tour of the three main tools: the staff directory, the wiki, and the news.</p>
  <p>The chief issues I noticed immediately:</p>
  <ol class="numbered-bullet-list">
    <li><span class="numbered-bullet">1</span>The design was not unified across the tools on the intranet. And the homepage lacked clarity about what the intranet could provide.</li>
    <li><span class="numbered-bullet">2</span>It lacked global navigation, to help the user move between the different tools easily.</li>
    <li><span class="numbered-bullet">3</span>There was no way to search across all the tools. So the users would have to search each tool individually, which is both time consuming and adds to the misconception that the intranet is one thing, not three.</li>
  </ol>

  <blockquote class="header-quote">
    If we just focused on these three things it would be a huge improvement over the current state of the intranet.
  </blockquote>
  <p class="header-quote-author">&#187; Audrey Chen, Creative Director at CFPB</p>

  <h3>Developing with Django</h3>
  <p>I worked with the backend developer to understand how the tools were connected and interacted with each other. He gave me a brief introduction to the templating language Django which the intranet had been built on.</p>

  <h3>Research &amp; validation</h3>
  <p>I started some basic design research to see how other companies leveraged their intranet and started to produce wireframes of possible layout options. I was able to work closely with the product owner to validate my ideas and make sure that I was meeting the needs of both the business and the users.</p>
  <h3>Wireframing for success</h3>
  <p>The wireframes slowly transformed into visual comps. During this transition I heavily referenced the company style guide and had meetings with their creative lead to create a complimentary visual style to their brand. I wanted employees to feel like this was their branded intranet, and not three separate tools.</p>
  <h3>Refining via critique</h3>
  <p>After several design critiques we arrived at a solution that met all the initial requirements for the business. We held a couple days of internal testing to get some real user feed back on the redesign. The testing validated most of our designs, and brought to light some of the places we needed to think through more.</p>
  <hr />
  <em>Finally 3 months after the kick-off meeting we launched the redesigned intranet and it was met with great approval and employees began to see the intranet as a comprehensive tool not three separate ones.</em>
  <hr />
  <p class="project-end">Fin. <a href="/portfolio">View more of my work.</a></p>
</section>