<p class="header-quote-author">Fosterly: Community Platform</p>
<h1 class="header-project">Getting entrepreneurs what they need.</h1>
<section class="project-description">
  <h2>The Problem</h2>
  <p>Entrepreneurs in the District of Columbia, Maryland, and Virginia had trouble finding and connecting with the resources they need to start and grow thier businesses. Thier existed a lack of centralized data on entrepreneurial events, available talent, and the latest news surrounding the entrepreneurial (focused on the #DCTech) community. </p>

  <h2>The Users</h2>
  <p>The budding tech entrepreneur trying to start their company in the DC metro area. I have proudly watched the #DCTech community grow over the past three years, with the help of amazing leaders and people.</p>

  <h3>The Process</h3>
  <p>This project was broken into three sections the events, the community and the news. I took on the task of organizing the content for each section and provided initial wireframes for discussion.</p>

  <img class="project-screenshot" src="/assets/projects/fosterly-01.jpg" />
  <img class="project-screenshot" src="/assets/projects/fosterly-02.jpg" />

  <p>This project was supported by the community and people donated their time to work on making this project a success. It is a true testament to the passion of the community we have here in the DC area.</p>
  <p>Fosterly holds an annual Day of Fosterly and has attracted the attention of high-profile supporters of the spirit of entrepreneurialism like Aneesh Chopra and Walt Mossberg.</p>

  <img class="project-screenshot" src="/assets/projects/fosterly-04.jpg" />

  <hr />

  <em>Within the first few months, <a href="http://fosterly.com" target="_blank">Fosterly</a> had over 1,000 regstered entrepreneurs with over 600 organizations, all pitching in to support the DC/MD/VA entrepreneurial community!</em>
  <hr />
  <p class="project-end">Fin. <a href="/portfolio">View more of my work.</a></p>
</section>