<p class="header-quote-author">Google Design Challenge</p>
<h1 class="header-project">Chef Club:<br />learn and love cooking!</h1>
<section class="google" style="padding-bottom:4em;">
  <p>For my presentation, I chose to go with option #2, to teach others about a topic I'm passionate about. I love cooking, and delicious food. I want to share that with the world. I believe that everything can be broken down into simpler steps, and by following the basic steps (like a checklist) and applying them, you can learn anything.</p>

  <p>I like to call this idea Chef Club. It's an easy, focused way to learn cooking by focusing on one meal per week. It shows you what we're cooking, the recipe, the ingredient, and the ability for community members to share their experiences. Each week a new recipe is put online. Focus is powerful, so I use that to my advantage to keep people interested by only showing 1 recipe per week.</p>

  <a href="/assets/projects/google-01.jpg" target="_blank">
    <img src="/assets/projects/google-01.jpg" class="project-screenshot" />
  </a>

  <p>Above are sketches of the primary user flows. There are 4 primary views:</p>
  <ol>
    <li><b>The Meal:</b> the landing page is the current meal for the week.</li>
    <li><b>About:</b> this explains the mission of Chef Club, what it is, and who's behind it</li>
    <li><b>Archives:</b> a list of all the meals from previous weeks</li>
    <li><b>Next Week:</b> allows users to suggest meals for the future</li>
  </ol>

  <h3>The Meal view: Overview</h3>
  <p>The meat (hah) of Chef Club is the Current Meal view. It's the meal that I want the community to focus on for the week. Here's a more detailed sketch on the different pieces of the meal recipe:</p>

  <a href="/assets/projects/google-02.jpg" target="_blank">
    <img src="/assets/projects/google-02.jpg" class="project-screenshot" />
  </a>

  <p>It's always important to have a vision of what the finished meal looks like, so I have the name of the meal and a decent photo.</p>

  <p>I believe that great meals are built on great ingredient, and I want to pass that along to my audience. Chefs know the story behind their ingridients, so I want to highlight one ingredient each week.</p>
  <p>With any recipe, there is an ingredient list. I chose to order the ingredients by how they might appear together in the grocery store to simplify purchasing. There's also an option to print it (which would be designed in a nice format, specific for printing) or email to a mobile device for on-the-go people. </p>
  <p>Next are the step-by-step instructions. Unlike other step-by-steps, I include short "chef tip" videos (via Vine?) to instruct the user on proper form, or safety. It will be looped so they user doesn't need to hit stop or play, or feel like they're missing anything. I feel important that it's super short, so they can get right into cooking... but a video is necessary because it's much more powerful than a set of images. Much easier to learn with a short clip (and Vine would be perfect!)</p>

  <a href="/assets/projects/google-03.jpg" target="_blank">
    <img src="/assets/projects/google-03.jpg" class="project-screenshot" />
  </a>

  <p>Lastly, there's simple commenting for users to share their experiences and insights. I imagine integrating with a third-party, but this could possibly be expanded in the future to grow the community.</p>

  <h3>The Archives view</h3>

  <p>If a user wants to try out other meals, they can always check out the Archives. It's a simple list of all the meals that have been posted on Chef Club. Meals stay active, so users can go back and try them again.</p>

  <h3>The About view</h3>
  <p>Explaining why we exist, what we do, and who we are helps build trust. I want to explain what Chef Club is, what to expect from meals, and why the community exists.</p>

  <h3>The Next Weeks Meal view</h3>
  <p>The purpose of this page is to let users know that I'm actively working on meals, and provide them the opportunity to submit recipes they want the community to try out. This helps build engagement, and provide fuel for future meals.</p>

  <h3>The Meal view: Visual Mockup</h3>

  <p>I chose to focus on green. Green is fresh. Green is food.... <i>real</i> food. Real pictures will be used to help with visual recognition of the meals and ingredients.</p>
  <p>I chose Avenir and Chaparral because they're both humanistic fonts. Avenir provides a solid foundation, being a subtle typeface, that allows the reader to easily read without imparting too much personality on the content. I chose Chaparral to balance out Avenir's versatility by adding a distinctive (chef-like, high-class menu) feel.</p>
  <p>Simple iconography was used to help with recognizing sections.</p>

  <a href="/assets/projects/google-04.png" target="_blank">
    <img src="/assets/projects/google-04.png" class="project-screenshot" />
  </a>

  <h3>Final Thoughts</h3>
  <p>I hope you've enjoyed this extremely fast sprint through my idea to help people enjoy cooking. Please ask me questions about specific parts - there are many things I left out to keep this presentation short. Thank you for your consideration!</p>

  <a href="mailto:brouin@me.com">Email me with your thoughts!</a>


</section>