<h1>Enhancing human experiences every day</h1>
<section class="intro-text">
  <p>Brittany is an Interactive designer at <a href="http://rockcreeksm.com">Rock Creek Strategic Marketing</a> currently working for their client the <a href="http://consumerfinance.gov">Consumer Financial Protection Bureau</a> (CFPB) trying to help make markets for consumer financial products and services work for Americans.</p>
  <p>Brittany believes in getting to the root of the problem and designing for the user. She strives to inspire empathy and the creation of meaningful applications and interactions. Known for her fearless exploration and uninhibited design methods, Brittany has been able to create innovative solutions that solve the underlyng problems she has been presented.</p>
  <p>Her involvement with entrepreneurialism led her to <a href="http://foster.ly">Fosterly</a> a budding online resource for entrepreneurs, and with her help it grew into an online community for entrepreneurs acknowledged by Tech Cocktail, Biztech and the Mayor of DC. She is also interested in tackling <a href="http://en.wikipedia.org/wiki/Wicked_problem">"Wicked problems"</a> and changing user behaviors. For example, Brittany is currently helping aleviate the pains of the financial crisis by working at the CFPB building tools to help consumers navigate the murky waters of financial products in the market.</p>
  <p>Brittany is an active member of the user experience community. Attending the events hosted by <a href="http://refreshdc.org">Refresh DC</a> and the local AIGA and UXPA chapter such as the User Focus 2012 conference. Most recently she attended the first ever <a href="http://www.whitehouse.gov/blog/2012/12/20/first-ever-white-house-code-athon">code-a-thon hosted by the White House</a> and gave a talk at <a href="http://uxshowandtell.org/showandtell/index.html">UX Show and Tell</a> about Mobile First Design.</p>
</section><!-- end .intro-text -->

<hr />

<section class="recommendations">
  <ul class="home-recommendation-list">

    <li class="recommendation">
      <blockquote>
        <p>It's always refreshing and amazing to work with someone who puts a lot of effort and detail into crafting complete experiences for any user!</p>
        <footer class="recommendation-citation">
          <img src="/assets/recommendations/klare.jpg" class="circle recommendation-avatar" />
          <span>
            <a href="http://twitter.com/klare" target="_blank" class="recommendation-name">Klare Frank,</a> Designer at <a href="http://istrategylabs.com" target="_blank">iStrategyLabs</a>
          </span>
        </footer>
      </blockquote>
    </li><!-- end .recommendation -->

    <li class="recommendation">
      <blockquote>
        <p>Brittany stands distinctly apart from the crowd for her client relationships, focus on root cause analysis, thoughtful listening and strong delivery.</p>
        <footer class="recommendation-citation">
          <img src="/assets/recommendations/meredith.jpg" class="circle recommendation-avatar" />
          <span>
            <a href="http://www.linkedin.com/pub/meredith-mark/2/b35/a02/" target="_blank" class="recommendation-name">Meredith Mark,</a> Management Consultant at <a href="http://www.pwc.com/us/consulting" target="_blank">PwC Advisory</a>
          </span>
        </footer>
      </blockquote>
    </li><!-- end .recommendation -->

    <li class="recommendation">
      <blockquote>
        <p>The energy and knowledge that Brittany brings to the #DCtech and design community is invaluable.</p>
        <footer class="recommendation-citation">
          <img src="/assets/recommendations/maxim.jpg" class="circle recommendation-avatar" />
          <span>
            <a href="http://twitter.com/duqe" target="_blank" class="recommendation-name">Maxim Lezeyrovich</a>, Experience Designer at <a href="http://nclud.com" target="_blank">nclud</a>
          </span>
        </footer>
      </blockquote>
    </li><!-- end .recommendation -->

    <li class="recommendation">
      <blockquote>
        <p>Brittany is the kind of UX designer that convinces you that people should always be at the center of one's work in order to be successful. She does this not through words but actions; by putting you – whether you are a client, stakeholder, or colleague – at the center of any interaction you have with her.</p>
        <footer class="recommendation-citation">
          <img src="/assets/recommendations/dezzie.jpg" class="circle recommendation-avatar" />
          <span>
            <a href="http://twitter.com/thedezzie" target="_blank" class="recommendation-name">Desiree Garcia,</a> UX Designer at <a href="http://rockcreeksm.com" target="_blank">Rock Creek Strategic Marketing</a>
          </span>
        </footer>
      </blockquote>
    </li><!-- end .recommendation -->

  </ul><!-- end .recommendation-list -->
</section>

<hr />

<p class="home-action">So what exactly do I do? <a href="/portfolio" style="margin-left:.5em;">Take a tour of my work &rarr;</a></p>