<h1>Enhancing human experiences every day</h1>
<section class="intro-text">
  <p>Brittany is an Interactive designer at <a href="http://rockcreeksm.com">Rock Creek Strategic Marketing</a> currently working for their client the Consumer Financial Protection Bureau (CFPB) trying to help make markets for consumer financial products and services work for Americans.</p>
  <p>Brittany believes in getting to the root of the problem and designing for the user. She strives to inspire empathy and the creation of meaningful applications and interactions. Known for her fearless exploration and uninhibited design methods, Brittany has been able to create innovative solutions that solve the underlyng problems she has been presented.</p>
  <p>Her involvement with entrepreneurialism led her to Foster.ly a budding online resource for entrepreneurs, and with her help it grew into an online community for entrepreneurs acknowledged by Tech Cocktail, Biztech and the Mayor of DC. She is also interested in tackling wicked problems and changing user behaviors. For example, Brittany is currently helping aleviate the pains of the financial crisis by working at the CFPB building tools to help consumers navigate the murky waters of financial products in the market.</p>
  <p>Brittany is an active member of the user experience community. Attending the events hosted by Refresh DC and the local AIGA and UXPA chapter such as theUser Focus 2012 conference. Most recently she attended the first ever code-a-thon hosted by the White House and gave a talk at UX Show and Tell about Mobile First Design.</p>
</section><!-- end .intro-text -->

<hr />

<section class="recommendations">
  <ul class="home-recommendation-list">

    <li class="recommendation">
      <blockquote>
        <p>It's always refreshing and amazing to work with someone who puts a lot of effort and detail into crafting complete experiences for any user!</p>
        <footer class="recommendation-citation">
          <img src="/assets/recommendations/klare.jpg" class="circle recommendation-avatar" />
          <span>
            <a href="http://twitter.com/klare" target="_blank" class="recommendation-name">Klare Frank,</a> Designer at <a href="http://istrategylabs.com" target="_blank">iStrategyLabs</a>
          </span>
        </footer>
      </blockquote>
    </li><!-- end .recommendation -->

    <li class="recommendation">
      <blockquote>
        <p>The energy and knowledge that Brittany brings to the #DCtech and design community is invaluable.</p>
        <footer class="recommendation-citation">
          <img src="/assets/recommendations/maxim.jpg" class="circle recommendation-avatar" />
          <span>
            <a href="http://twitter.com/duqe" target="_blank" class="recommendation-name">Maxim Lezeyrovich</a>, Experience Designer at <a href="http://nclud.com" target="_blank">nclud</a>
          </span>
        </footer>
      </blockquote>
    </li><!-- end .recommendation -->

  </ul><!-- end .recommendation-list -->
</section>

<hr />

<p class="home-action">So what exactly do I do? <a href="/portfolio" style="margin-left:.5em;">Take a tour of my work &rarr;</a></p>