<h1 class="header-quote">How many a man has dated a new era in his life from reading a book?</h1>
<p class="header-quote-author">- Henry David Thoreau</p>
<section class="library">
  <p>These are the books, articles, and resources that made the cut (aka didn't put me to sleep, have imparted upon me great applied knowledge) and need to be shared.</p>
  <ul class="library-list">
    <li class="resource">
      <a href="http://www.amazon.com/Dont-Make-Me-Think-Usability/dp/0321344758" target="_blank">
        <img src="/assets/library/Dont_make_me_think.png" class="resource-cover" />
      </a>
      <div class="resource-details">
        <h2 class="resource-title">Don't Make Me Think</h2>
        <h4 class="resource-author">Steve Krug</h4>
        <p class="resource-description">A must read for anyone starting out in the User Experience field. Steve Krug does a great job synthesizing a semester long Stanford course on HCI into a quick read of 201 pages.<br /><a href="http://www.amazon.com/Dont-Make-Me-Think-Usability/dp/0321344758" target="_blank">Buy it on Amazon &rarr;</a></p>
        <h5 class="resource-tags">User experience, User research, User testing</h5>
      </div>
    </li>

    <li class="resource">
      <a href="http://www.amazon.com/Design-Is-Job-Mike-Monteiro/dp/1937557049" target="_blank">
        <img src="/assets/library/Design_is_a_job.png" class="resource-cover" />
      </a>
      <div class="resource-details">
        <h2 class="resource-title">Design is a Job</h2>
        <h4 class="resource-author">Mike Monteiro</h4>
        <p class="resource-description">Calling all designers -- if you are considering freelancing, or already are you NEED TO READ THIS BOOK.<br /><a href="http://www.amazon.com/Design-Is-Job-Mike-Monteiro/dp/1937557049" target="_blank">Buy it on Amazon &rarr;</a></p>
        <h5 class="resource-tags">Design, Business</h5>
      </div>
    </li>

    <li class="resource">
      <a href="http://www.amazon.com/Mobile-First-Luke-Wroblewski/dp/1937557022/" target="_blank">
        <img src="/assets/library/Mobile_first.png" class="resource-cover" />
      </a>
      <div class="resource-details">
        <h2 class="resource-title">Mobile First</h2>
        <h4 class="resource-author">Luke Wroblewski</h4>
        <p class="resource-description">You will find all the secrets to content strategy and mobile first thinking in this book.<br /><a href="http://www.amazon.com/Mobile-First-Luke-Wroblewski/dp/1937557022/" target="_blank">Buy it on Amazon &rarr;</a></p>
        <h5 class="resource-tags">Content strategy, Design, Front-end development</h5>
      </div>
    </li>

    <li class="resource">
      <a href="http://www.amazon.com/HTML-CSS-Design-Build-Websites/dp/1118008189/" target="_blank">
        <img src="/assets/library/HTML_and_CSS.png" class="resource-cover" />
      </a>
      <div class="resource-details">
        <h2 class="resource-title">HTML and CSS</h2>
        <h4 class="resource-author">Joe Duckett</h4>
        <p class="resource-description">The best designed HTML and CSS book I have ever laid eyes on. It is so well thought out and thorough in its content, this will become your reference for years to come.<br /><a href="http://www.amazon.com/HTML-CSS-Design-Build-Websites/dp/1118008189/" target="_blank">Buy it on Amazon &rarr;</a></p>
        <h5 class="resource-tags">Front-end development</h5>
      </div>
    </li>

    <li class="resource">
      <a href="http://ianstormtaylor.com/design-tip-never-use-black/" target="_blank">
        <img src="/assets/library/Ian_storm_taylor.png" class="resource-cover" />
      </a>
      <div class="resource-details">
        <h2 class="resource-title">Design Tip: Never Use Black</h2>
        <h4 class="resource-author">Ian Storm Taylor</h4>
        <p class="resource-description">You should not design with #000000. <br /><a href="http://ianstormtaylor.com/design-tip-never-use-black/" target="_blank">Read this article to see why &rarr;</a></p>
        <h5 class="resource-tags">Design</h5>
      </div>
    </li>

    <li class="resource">
      <a href="http://nathanbarry.com/step-by-step-landing-page-copywriting/" target="_blank">
        <img src="/assets/library/Nathan_barry.png" class="resource-cover" />
      </a>
      <div class="resource-details">
        <h2 class="resource-title">Step-by-step Copywriting Guide</h2>
        <h4 class="resource-author">Nathan Barry</h4>
        <p class="resource-description">Great advice for coming up with the best copy and content for your site.  <br /><a href="http://nathanbarry.com/step-by-step-landing-page-copywriting/">Read this article here &rarr;</a></p>
        <h5 class="resource-tags">Design</h5>
      </div>
    </li>

  </ul>
</section>