<h1 class="header-quote">A problem stays a problem until someone reveals a solution that others can embrace. At that point, a problem becomes an opportunity.</h1>
<p class="header-quote-author">- Simon Sinek</p>

<section class="client" id="cfpb">
  <h2>Consumer Financial Protection Bureau</h2>

  <div class="project">
    <h3>Paying For College</h3>
    <p>Helping Students make smarter financial decisions about college.</p>

    <ul class="skills-list">
      <li class="skill-item skill-ux">
        <div class="skill-icon circle"></div>
        User<br /> Experience
      </li>
      <li class="skill-item skill-ia">
        <div class="skill-icon circle"></div>
        Information<br /> Architecture
      </li>
      <li class="skill-item skill-graphics">
        <div class="skill-icon circle"></div>
        Graphic<br /> Design
      </li>
      <li class="skill-item skill-testing">
        <div class="skill-icon circle"></div>
        User<br /> Testing
      </li>
      <li class="skill-item skill-prototyping skill-unused">
        <div class="skill-icon circle"></div>
        Rapid<br /> Prototyping
      </li>
    </ul><!-- end .skills-list -->
    <a href="/portfolio/cfpb-paying-for-college" class="view-project-link">View project &rarr;</a>
  </div><!-- end .project -->

  <div class="project">
    <h3>Internal Tools</h3>
    <p>New internal tools for a new type of government</p>

    <ul class="skills-list">
      <li class="skill-item skill-ux">
        <div class="skill-icon circle"></div>
        User<br /> Experience
      </li>
      <li class="skill-item skill-ia">
        <div class="skill-icon circle"></div>
        Information<br /> Architecture
      </li>
      <li class="skill-item skill-graphics">
        <div class="skill-icon circle"></div>
        Graphic<br /> Design
      </li>
      <li class="skill-item skill-testing">
        <div class="skill-icon circle"></div>
        User<br /> Testing
      </li>
      <li class="skill-item skill-prototyping">
        <div class="skill-icon circle"></div>
        Rapid<br /> Prototyping
      </li>
    </ul><!-- end .skills-list -->
    <a href="/portfolio/cfpb-internal-tools" class="view-project-link">View project &rarr;</a>
  </div><!-- end .project -->

  <div class="project">
    <h3>Strategic Report</h3>
    <p>Not your typical government report</p>

    <ul class="skills-list">
      <li class="skill-item skill-ux">
        <div class="skill-icon circle"></div>
        User<br /> Experience
      </li>
      <li class="skill-item skill-ia">
        <div class="skill-icon circle"></div>
        Information<br /> Architecture
      </li>
      <li class="skill-item skill-graphics">
        <div class="skill-icon circle"></div>
        Graphic<br /> Design
      </li>
      <li class="skill-item skill-testing skill-unused">
        <div class="skill-icon circle"></div>
        User<br /> Testing
      </li>
      <li class="skill-item skill-prototyping">
        <div class="skill-icon circle"></div>
        Rapid<br /> Prototyping
      </li>
    </ul><!-- end .skills-list -->
    <a href="/portfolio/cfpb-strategic-plan" class="view-project-link">View project &rarr;</a>
  </div><!-- end .project -->


  <div class="project">
    <h3>Consumer Complaints</h3>
    <p>Let your complaints be heard</p>

    <ul class="skills-list">
      <li class="skill-item skill-ux">
        <div class="skill-icon circle"></div>
        User<br /> Experience
      </li>
      <li class="skill-item skill-ia">
        <div class="skill-icon circle"></div>
        Information<br /> Architecture
      </li>
      <li class="skill-item skill-graphics skill-unused">
        <div class="skill-icon circle"></div>
        Graphic<br /> Design
      </li>
      <li class="skill-item skill-testing skill-unused">
        <div class="skill-icon circle"></div>
        User<br /> Testing
      </li>
      <li class="skill-item skill-prototyping skill-unused">
        <div class="skill-icon circle"></div>
        Rapid<br /> Prototyping
      </li>
    </ul><!-- end .skills-list -->
    <a href="/portfolio/cfpb-consumer-complaints" class="view-project-link">View project &rarr;</a>
  </div><!-- end .project -->

</section><!-- end .client -->

<hr />

<section class="client" id="trendpo">
  <h2>TrendPo</h2>

  <div class="project no-writeup">
    <h3>Analyzing and Ranking Political Trends</h3>
    <p>The Future of Political Forecasting</p>

    <ul class="skills-list">
      <li class="skill-item skill-ux">
        <div class="skill-icon circle"></div>
        User<br /> Experience
      </li>
      <li class="skill-item skill-ia">
        <div class="skill-icon circle"></div>
        Information<br /> Architecture
      </li>
      <li class="skill-item skill-graphics">
        <div class="skill-icon circle"></div>
        Graphic<br /> Design
      </li>
      <li class="skill-item skill-testing skill-unused">
        <div class="skill-icon circle"></div>
        User<br /> Testing
      </li>
      <li class="skill-item skill-prototyping skill-unused">
        <div class="skill-icon circle"></div>
        Rapid<br /> Prototyping
      </li>
    </ul><!-- end .skills-list -->
    <span class="view-project-link">Write-up coming.</span>
  </div><!-- end .project -->

</section><!-- end .client -->

<hr />

<section class="client" id="trendpo">
  <h2>Fosterly</h2>

  <div class="project">
    <h3>Community Platform</h3>
    <p>Helping the DC/MD/VA entrepreneurial community</p>

    <ul class="skills-list">
      <li class="skill-item skill-ux">
        <div class="skill-icon circle"></div>
        User<br /> Experience
      </li>
      <li class="skill-item skill-ia">
        <div class="skill-icon circle"></div>
        Information<br /> Architecture
      </li>
      <li class="skill-item skill-graphics">
        <div class="skill-icon circle"></div>
        Graphic<br /> Design
      </li>
      <li class="skill-item skill-testing skill-unused">
        <div class="skill-icon circle"></div>
        User<br /> Testing
      </li>
      <li class="skill-item skill-prototyping skill-unused">
        <div class="skill-icon circle"></div>
        Rapid<br /> Prototyping
      </li>
    </ul><!-- end .skills-list -->
    <a href="/portfolio/fosterly" class="view-project-link">View project &rarr;</a>
  </div><!-- end .project -->

</section><!-- end .client -->

<hr />

<section class="client" id="trendpo">
  <h2>Enchant</h2>

  <div class="project no-writeup">
    <h3>Kale: Mobile Nutrition Tracking</h3>
    <p>Helping people eat healthier through celebrating food</p>

    <ul class="skills-list">
      <li class="skill-item skill-ux">
        <div class="skill-icon circle"></div>
        User<br /> Experience
      </li>
      <li class="skill-item skill-ia">
        <div class="skill-icon circle"></div>
        Information<br /> Architecture
      </li>
      <li class="skill-item skill-graphics skill-unused">
        <div class="skill-icon circle"></div>
        Graphic<br /> Design
      </li>
      <li class="skill-item skill-testing">
        <div class="skill-icon circle"></div>
        User<br /> Testing
      </li>
      <li class="skill-item skill-prototyping skill-unused">
        <div class="skill-icon circle"></div>
        Rapid<br /> Prototyping
      </li>
    </ul><!-- end .skills-list -->
    <span class="view-project-link">Write-up coming.</span>
  </div><!-- end .project -->

</section><!-- end .client -->