<p class="header-quote-author">TrendPo: Daily Newsletter Report</p>
<h1 class="header-project">Big Data Design Served With Actionable Feedback</h1>
<section class="google" style="padding-bottom:4em;">
  <p>TrendPo believes that the future of politics is in big data, so they want to provide politicians the tools to monitor and analyze their social impact through social media, the news, and public sentiment. TrendPo’s first offering was a simple 24-hour report showing the change in the user’s (the politician) social media and news "buzz". The report would compare the individual’s stats to a calculated benchmark to help compare themselves to their peers.</p>

  <h3>Discovery and Definition</h3>

  <p>We held a kick-off meeting to define the scope of this specific project and to discuss the content we wanted to include in the report. Why would the user want certain pieces, and not others? Which were most useful? Which could we represent in a meaningful way? How could we package the data to weed out signal from the noise?</p>

   <p>To answer these questions, we needed to dig into the data to find out exactly what statistics TrendPo could generate. We worked through the statistics, which included: the change in Twitter followers; the most liked Facebook posts; and the most viewed article that the politician was mentioned in. We took notes on our trusty whiteboard, linking groups of statistics with the defined objectives.</p>

  <a href="/assets/projects/trendpo-01.jpg" target="_blank">
    <img src="/assets/projects/trendpo-01.jpg" class="project-screenshot" />
  </a>

  <p>We would discuss the purpose of showing each bit of data. Agreement was made that if a statistic met a predetermined threshold, we would provide the politician an actionable item to help them react; for example, if a Facebook post was liked “x” amount of times, we would suggest they purchase a Facebook ad to promote the specific topic mentioned in the post.</p>

  <p>There was an incredible amount of data, and we only had a small window (email) to leave an impression. We decided to generate visual aids / graphs to further elaborate the data. It took a bit of iteration to find the sweet spot of raw data, charts, and visual aids; but I’ll get to that in a moment. </p>


  <h3>Research and Data-collection</h3>
  <p>After the kick-off meeting, I held individual meetings with key stakeholders to discuss the importance of each piece of data and help categorize the content. It was important to see if any underlying patterns could be pulled to the top and highlighted within the design. Two pieces became apparent: the benchmark and the daily change rate statistics for each platform: Facebook, Twitter, News, and YouTube.</p>


  <h3>Design and Feedback</h3>
  <p>With the content decided, I began sketching concepts to tackle the visual hierarchy and overall layout. The team had decided to keep all of the content confined to a single 8x11.5” print-out page to make it easier for the user to print out (they love their hard copies.) </p>

  <p>Sketching really helped me figure out how to show each piece of content. I tried multiple designs, testing them against other people to see if I could get the content’s main point across. After playing around for a bit, I started to find rhythm in how they should piece together.</p>

  <a href="/assets/projects/trendpo-02.jpg" target="_blank">
    <img src="/assets/projects/trendpo-02.jpg" class="project-screenshot" />
  </a>

  <a href="/assets/projects/trendpo-03.jpg" target="_blank">
    <img src="/assets/projects/trendpo-03.jpg" class="project-screenshot" />
  </a>

  <a href="/assets/projects/trendpo-04.jpg" target="_blank">
    <img src="/assets/projects/trendpo-04.jpg" class="project-screenshot" />
  </a>

  <p>I then hopped into the Sketch app to visualize the wireframes digitally. It’s always better to design with real content (it brings a sense of clarity to the design), so I pulled in raw data and continued refining the design.</p>

  <p>After I completed my first draft, I went back to TrendPo and we discussed how well it met the goals and objectives of our kick-off meeting. We held a design critique with the whole team, which provided solid feedback and led to a discussion on the engineering aspects of the design. Resource constraints forced me to rethink a few of the designs (ex. Generating images on-the-fly for email delivery vs. embedding an actual JavaScript graph) but in the end the newsletter was made much more elegant (and within resources!)</p>

  <p>We went through this process over and over again; after the 5th iteration we all agreed that the design met every objective. It could now be implemented and tested with current clients.</p>

  <a href="/assets/projects/trendpo-05.png" target="_blank">
    <img src="/assets/projects/trendpo-05.png" class="project-screenshot" />
  </a>

  <a href="/assets/projects/trendpo-06.png" target="_blank">
    <img src="/assets/projects/trendpo-06.png" class="project-screenshot" />
  </a>

  <a href="/assets/projects/trendpo-07.png" target="_blank">
    <img src="/assets/projects/trendpo-07.png" class="project-screenshot" />
  </a>


  <h3>Prototype</h3>
  <p>Once the engineering team built-out our test, we found edge cases where the design needed tweaking. I worked quickly with the engineers to solve these issues, and we were back on track for testing.</p>

  <a href="/assets/projects/trendpo-08.png" target="_blank">
    <img src="/assets/projects/trendpo-08.png" class="project-screenshot" />
  </a>

  <a href="/assets/projects/trendpo-09.png" target="_blank">
    <img src="/assets/projects/trendpo-09.png" class="project-screenshot" />
  </a>

  <h3>Test and Iterate</h3>
  <p>We performed testing with a small group of volunteers from our customers to get their feedback on the usefulness of the report. The feedback was positive and provided further insight to the statistics our customers wanted to see. Using this data, we’ll be going back to revise the design in the near future.</p>


</section>