/* Mixins and Variables for SASS/Compass */
$primary_link: #7BD9FF;

$primary_font_family: "Open Sans", "open-sans", "helvetica", sans-serif;
$secondary_type_family: "Chaparral Pro", "chaparral-pro", "Georgia", serif;


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    1.0 General Styles 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */ 

body {
  font-family: $primary_font_family;
  font-size:large;
  color:#2a2a2a;
  background-color:#f9f9f9;
}

h1, h2 { font-family: $secondary_type_family; font-weight:normal; }
h1 { font-size:3em; margin:0 0 .75em;}

h2 {
  font-size: 3em;
  margin: 1.5em 0 1em;
  color:#4a4a4a;
}

h3 { 
  font-size:1.6em; 
  font-weight:normal; 
  margin:2em 0 0; 
  color:#555; 
}

a { color: $primary_link; text-decoration:none; @include transition(color 0.25s 0 ease); }
a:hover { text-decoration:underline; @include transition(color 0.1s 0 ease); }

p { 
  line-height: 1.48; 
  margin-bottom:1.42em; 
  color:#444;
  font-weight:100;
}

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid rgba(0,0,0,.05);
  margin: 3.5em 0; 
}

.content-container {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  position: relative;
}

.page-header {
  display:block;
  width: 100%;
  height:310px;
  margin-bottom: 2em;
  background-image:image-url('/assets/brim-header-03.png');
  background-repeat:no-repeat;
  background-position:center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  box-shadow: inset 0 -1px 3px rgba(0,0,0,.5);
  border-bottom:1px solid white;
}


.library-bg { background-image:image-url('/assets/brim-header-library.png'); }
.portfolio-bg { background-image:image-url('/assets/brim-header-portfolio.png'); }
.cfpb-internal-tools-bg { background-image:image-url('/assets/brim-header-portfolio.png'); }
.cfpb-paying-for-college-bg { background-image:image-url('/assets/brim-header-portfolio.png'); }
.cfpb-consumer-complaints-bg { background-image:image-url('/assets/brim-header-portfolio.png'); }

.happy-day {
  position:absolute;
  top:0;
  left:0;
  color:white;
  background: $primary_link;
  padding:.5em 2em;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  opacity: 1;
  font-weight: 100;
  font-size: .75em;
  display:block;
  text-decoration: none;
}

.sidebar {
  position: relative;
  width:26%;
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin-right:6%;
  float:left;
}

.page-content {
  width:62%;
  float:left;
}

.main-nav { margin-left: 1em; }

.nav-items {
  list-style: none;
  padding:0;
  margin:0 0 1em 0;
}

.nav-item a {
  text-decoration: none;
  color:inherit;
  display: block;
  padding: .5em 1em .5em 3em;
  position:relative;
  opacity: .6;
}

.nav-item a:hover {
  color: darken($primary_link, 20%);
}

.nav-item.active {
  background: $primary_link;
  border-radius:3px;
  color:white;
}

.nav-item.active a { cursor: default; opacity:1; }
.nav-item.active a:hover { color:inherit; }

.nav-icon {
  display: block;
  width:25px;
  height:25px;
  background-image: image-url('/assets/icon-sprite.png');
  background-repeat:no-repeat;
  background-position:0px 0px;
  position:absolute;
  top:.5em;
  left:.5em;
}

.nav-about .nav-icon { background-position:0px 0px; }
.nav-about.active .nav-icon { background-position:-25px 0px; }

.nav-library .nav-icon { background-position:0px -25px; }
.nav-library.active .nav-icon { background-position:-25px -25px; }

.nav-portfolio .nav-icon { background-position:0px -50px; }
.nav-portfolio.active .nav-icon { background-position:-25px -50px; }


.circle {
  border-radius: 50%;
  border: 1px solid #CCC;
  width:82px;
  height:82px;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    2.0 Home page 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */ 

.recommendation-avatar {
  display: block;
}

.home-recommendation-list {
  list-style: none;
  padding: 0;

  .recommendation {
    margin-bottom: 8em;
  }
  
  blockquote {
    margin: 0;
    position:relative;
  }

  blockquote p {
    font-size:1.8em;
    font-family: $secondary_type_family;
    background: lighten(#EEFBFF, 1%);
    border:1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    padding:1em 1em 2em;
    font-style:italic;
    color:#555555;
    line-height: 1.2;
    text-align: center;
  }

  blockquote footer {
    position: absolute;
    bottom: -4em;
    width:100%;
    text-align: center;
    color:#999;
    font-weight: 100;
    opacity: .8;
    @include transition(opacity 0.2s 0 ease);
  }

  blockquote:hover footer { opacity:1; @include transition(opacity 0.2s 0 ease);}

  blockquote footer img { margin:0 auto .5em; }
  blockquote footer a { color:inherit; }
  blockquote footer .recommendation-name { color:#666; }
}


.home-action {
  text-align: center;
  font-family: $secondary_type_family;
  color:#666;
  margin-bottom:4em;
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    3.0 Portfolio page
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */ 

.header-quote {
  font-size:1.8em;
  color:#9B9B9B;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: .5em;
}

.header-quote-author {
  text-transform: uppercase;
  color:#ccc;
  margin-top: 0;
}

.project { position:relative; display:block; margin-bottom:3em;}

.project h3 { @include transition(color 0.25s 0 ease); }
.project p { margin-top:.25em; }

.skills-list {
  margin:0; padding:0; list-style:none;
}

.skill-item {
  display: inline-block;
  font-size:.6em;
  font-weight:100;
  color:#666;
  text-align: center;
  margin-right: 3%;
}

.skill-icon { 
  border:none; 
  margin-bottom:.5em; 
  background-image:image-url('/assets/skills-sprite.png'); 
  background-repeat: no-repeat;
}

.skill-ux .skill-icon { background-color: #9DE0AD; background-position:-2px 8px; }
.skill-ia .skill-icon { background-color: #FF4372; background-position:-91px 6px;}
.skill-graphics .skill-icon { background-color: #A169F2; background-position:-184px 10px;}
.skill-testing .skill-icon { background-color: #0099CC; background-position:-272px 12px;}
.skill-prototyping .skill-icon { background-color: #FF9966; background-position:-361px 8px;}
.skill-unused .skill-icon { background-color:#eee;}

.skill-unused { color: #ccc; text-decoration: line-through; }

.project .view-project-link {
  font-size:.75em; 
  font-style:italic; 
  color:#ccc; 
  font-family:$secondary_type_family;
  position: absolute;
  top: 64%;
  right: 0;
  @include transition(color 0.25s 0 ease); 
}

.project:hover { cursor:pointer; }
.project:hover h3 { color:$primary_link; @include transition(color 0.25s 0 ease);}
.project:hover .view-project-link { 
  color:$primary_link; 
  @include transition(color 0.25s 0 ease); 
}

.project.no-writeup:hover { cursor: default; }
.project.no-writeup:hover h3 { color:inherit; }
.project.no-writeup:hover .view-project-link { color:inherit; }


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    4.0 Project pages
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */ 

.project-description h2 {
  font-style:italic;
  font-size: 1.8em;
  margin-top:2em;
}

.project-description h3 {
  font-family: $secondary_type_family;
  font-size: 1em;
  font-weight:normal;
  font-style: italic;
  color:#444;
}

.numbered-bullet-list {
  list-style: none;
  padding:0;

  li { font-weight:100; clear:both; margin-bottom:1.5em;}
}

.numbered-bullet {
  float: left;
  line-height: 1;
  border-radius: 50%;
  background: #7BD9FF;
  padding: .75em;
  width: 1em;
  height: 1em;
  font-weight: bold;
  color: #FFF;
  margin-right: 1.5em;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 2em;
}

blockquote.header-quote {
  padding:0;
  margin:2em 0 .5em;
  font-family: $secondary_type_family;
}

p.header-quote-author {
  margin-bottom: 4em;
}

.project-end {
  font-family: $secondary_type_family;
  font-style: italic;
  margin:3em 0;
  text-align: center;
}

.project-screenshot {
  display: block;
  width:100%;
  margin:2em auto;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    5.0 Library page
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */ 

.library-list {
  list-style: none;
  padding:0;
  margin-bottom: 4em;
}

.resource {
  clear:both;
  margin: 6em 0;
}

.resource-cover {
  float:left;
  width:30%;
  min-height: 100px;
  margin-right:4%;
  margin-bottom:6em;
}

.resource-title {
  font-size:1.8em;
  margin-bottom: 0;
}

.resource-author {
  font-size:1em;
  margin:0;
  font-weight: normal;
  color:#555;
}

.resource-description {
  font-size: .85em;
  font-weight: normal;
  color:#555;
}

.resource-tags {
  font-weight: 100;
  color:#888;
  font-size: .8em;
}



/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    6.0 Responsive bits 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */ 

@media only screen and (min-width: 72em) {
  .page-header { height:420px; }
}


@media only screen and (max-width: 58em) {
  /* Style adjustments for viewports that meet the condition */
  .page-header {
    margin:0;
    height:240px;
  }

  .content-container {
    width:100%;
  }

  .sidebar {
    display: block;
    float: none;
    border-bottom: 0;
    margin-bottom: 2em;
    width:100%;
  }

  .sidebar.alt {
    position: absolute;
    background: rgba(255, 255, 255, .96);
    margin: 0;
    top: -1em;
  }

  .nav-items { margin:0; text-align:center; }

  .nav-item { display:inline-block; }
  .nav-item.active { border-radius:0; }

  .page-content {
    width:92%;
    margin:0 auto;
    float:none;
  }

  h1 { font-size: 1.8em; }

  .skill-item { width:5%; margin-right:12%; }
  .skill-item .circle { width:36px; height:36px; }
  .project .view-project-link { position:relative; top:1em; color:$primary_link; }
}

@media only screen and (max-width: 35em) {
  .page-header { height:140px; }
}