<div class="page-header <%= params[:action] %>-bg">
  <div class="content-container">
    <a class="happy-day" href="/">Happy <span id="today-date">day today</span> :)</a>
  </div>
</div><!-- end .page-header -->