<aside class="sidebar">
  <nav class="main-nav">
    <ul class="nav-items">
      <li class="nav-item nav-about <%= 'active' unless (params[:action] != 'home') %>">
        <a href="/"><i class="nav-icon"></i>About</a>
      </li>
      <li class="nav-item nav-library <%= 'active' unless (params[:action] != 'library') %>">
        <a href="/library"><i class="nav-icon"></i>Library</a>
      </li>
      <li class="nav-item nav-portfolio <%= 'active' unless (params[:action] != 'portfolio') %>">
        <a href="/portfolio"><i class="nav-icon"></i>Portfolio</a>
      </li>
    </ul><!-- end .nav-items -->
  </nav><!-- end .main-nav -->

  <ul class="social-links">
    <li><a href="http://twitter.com/brim" class="social-icon twitter-icon hide-text">@brim</a></li>
    <li><a href="mailto:brouin@me.com" class="social-icon email-icon hide-text">Say hello via email.</a></li>    
  </ul>
</aside><!-- end .sidebar -->